$small-screen: 720px;
$mid-screen: 920px;

.presentation {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px;
  margin-bottom: 1px;
}

// .mail {
//   font-size: 0.7em;
//   text-align: end;
// }

.team-title {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  margin: auto;
  margin-left: 0;

  color: #5c5c5c;
}

.split-members {
  display: flex;
  flex-direction: column;
  overflow: unset;
  margin: auto;
  width: 100%;
  height: fit-content;

  @media screen and (max-width: $mid-screen) {
    width: 100%;
  }

  @media screen and (min-width: $mid-screen) {
    flex: 0 0 auto;
  }

  @media screen and (max-width: $small-screen) {
    label {
      text-align: center;
    }
  }
}

.mail {
  box-sizing: border-box;
  justify-content: flex-end;
  font-size: 12px;
  line-height: 18px;
}

.name {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;

  color: #000000;
}

.flex-container {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.presentation-image {
  width: 150px;
  height: 169.63px;
  left: 0px;
  top: -10px;
  border-radius: 50%;
}
