$small-screen: 720px;
$mid-screen: 920px;

.presentation {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px;
  margin-bottom: 1px;
}

// .mail {
//   font-size: 0.7em;
//   text-align: end;
// }

.team-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  margin: auto;

  color: #5c5c5c;
}

.split-members {
  overflow: unset;
  margin-top: auto;
  width: 100%;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  height: fit-content;

  align-content: flex-start;

  @media screen and (max-width: $mid-screen) {
    width: 100%;
  }

  @media screen and (min-width: $mid-screen) {
    flex: 0 0 auto;
  }

  @media screen and (max-width: $small-screen) {
    label {
      text-align: center;
    }
  }
}

.mail {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  line-height: 18px;
}

.name {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;

  color: #000000;
}
