.image {
  flex-shrink: 0;
  background-color: transparent;
  width: 150px;
  height: 150px;
  perspective: 1000px;
  margin-bottom: 31px;
  margin-right: 37px;
  margin-left: 37px;
  margin-top: 19px;
}

.image-inner {
  position: relative;
  width: 150px;
  height: 150px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.image-flip-front {
  transform: rotateY(180deg);
}

.image-front,
.image-back {
  position: absolute;
  width: 150px;
  height: 150px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.image-front {
  color: white;
}

/* Style the back side */
.image-back {
  color: white;
  transform: rotateY(180deg);
}
