.topbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 15vw;
  padding-right: 15vw;
  background-color: white;
  z-index: 1000;

  nav {
    display: flex;
    align-items: center;
    padding: 1em;
    gap: 3vh;
  }
}
