.form {
  input[type="text"],
  input[type="email"],
  input[type="number"],
  textarea {
    appearance: textfield;
    font-size: inherit;
    font-family: inherit;
    border: 1px solid rgba($color: #999999, $alpha: 0.5);
    padding: 0.75em;
    margin-bottom: 1em;
    width: 100%;
    background-color: #6024ff;
  }

  input[type="checkbox"] {
    appearance: none;
    cursor: pointer;
    user-select: none;
    display: inline-block;
    vertical-align: sub;
    box-sizing: border-box;
    transition: opacity 50ms ease;
    transition: background-color 50ms ease;
    width: 1.5em;
    height: 1.5em;
    border: 1px solid rgba($color: #000000, $alpha: 0.5);
    border-radius: 0.3em;
    position: relative;
    padding: 0.5em;
    cursor: pointer;
    margin: 0;
  }

  input[type="checkbox"]::after {
    content: "";
    position: absolute;
    top: 35%;
    bottom: 25%;
    left: 10%;
    right: 10%;
    border-left: 2px solid var(--bg-color);
    border-bottom: 2px solid var(--bg-color);
    transform: translateY(-0.2em) rotate(-45deg);
    opacity: 0;
    transition: opacity 100ms ease;
  }

  input[type="checkbox"]:hover {
    opacity: 0.75;
  }

  input[type="checkbox"]:checked {
    background-color: var(--primary-color);
  }

  input[type="checkbox"]:checked::after {
    opacity: 1;
  }

  form label {
    font-size: 1em;
  }

  form textarea {
    box-sizing: border-box;
    min-height: 20ch;
    width: 100%;
    resize: vertical;
  }
}
