.language-icon {
  margin-left: 5px;
  width: 20px;
  padding: 5px;
  cursor: pointer;
}

.front-icon {
  margin-left: 10px;
  margin-top: 8px;
  width: 20px;
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
}

.dropdown:hover .dropdown-content {
  display: block;
}
