.language-icon {
  width: 15px;
  height: 15px;
  margin-left: 10px;
  margin-top: 7px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
}

.dropdown:hover .dropdown-content {
  display: block;
}
