@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
  --bg-color: #ffffff;
  --text-color: #222222;
  --primary-color: #313ba9;
  --primary-color-inv: white;
}

html,
body {
  background: var(--bg-color);
  color: var(--text-color);
  margin: 0;
}
main {
  display: flex;
}

img {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-height: 50vh;
  object-fit: contain;
}

h1 {
  font-family: Futura PT, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

  font-size: 48px;
  font-weight: 800;
  margin: 0;
  max-width: 100%;
}

.background-cover {
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100vw;
  position: absolute;
  overflow: visible;
}

h2 {
  font-family: Futura PT, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

  font-size: 36px;
  font-weight: 800;
  margin: 0;
}
h3 {
  font-size: 24px;
  margin: 0;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.primary {
  color: var(--primary-color);
}

.center {
  margin: auto;
}

.content {
  margin: auto;
  display: flex;
  width: 70vw;
  position: relative;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;

  max-width: 80rem;
  justify-content: space-between;
}

.half-screen {
  height: 70vh;
}

.screen-height {
  height: 100vh;
}

.card {
  border: solid rgb(238, 238, 238) 1px;
  border-radius: 1em;
}

.center-content {
  text-align: center;
  margin: auto;
  width: 50vw;
  min-height: 30vh;
}

.absolute {
  position: absolute;
}

.top-image {
  width: 150vw;
  position: absolute;
  object-fit: cover;
  overflow: visible;
  max-height: 100vh;
  left: -50vw;
  opacity: 0.2;
}

.split-content {
  overflow: unset;
  margin-top: auto;
  flex: 0 0 auto;
  width: 50%;
  margin-bottom: auto;
  padding: 0.5em;
  height: fit-content;
  align-content: flex-start;
}

.panel {
  border: solid black 10px;
}

.space-right {
  margin-right: 1em;
}

section {
  width: 100%;
}

a {
  color: var(--text-color);
  text-decoration: none;

  &:hover {
    opacity: 0.75;
  }
}

button,
p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: rgb(54, 49, 61);
}

.divider {
  background-color: #dddcdc;
  height: 1px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.cols {
  display: flex;
  gap: 4em;
  justify-content: center;
  align-items: center;
}

.mark {
  // border-bottom: solid 4px var(--primary-color);
}
