@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
$small-screen: 920px;
:root {
  --bg-color: #ffffff;
  --text-color: #222222;
  --primary-color: #313ba9;
  --primary-color-0-5: #313ba963;
  --primary-color-inv: white;
}

html,
body {
  background: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  font-family: "Poppins", Futura PT, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  text-rendering: optimizeLegibility;
}
main {
  display: flex;
}

.end-image {
  position: relative;
  left: 0;
  width: 100vw;
  height: 10em;

  img {
    right: 0;
    height: 20em;
    position: absolute;
    float: right;
    width: fit-content;
    bottom: -10em;
    max-height: 100vh;
  }
}

.image-left {
  position: relative;
  left: 0;
  width: 100vw;
  height: 0em;

  img {
    left: 0;
    height: 20em;
    position: absolute;
    width: fit-content;
    bottom: -10em;
    max-height: 100vh;
    transform: scale(-1, -1);
    opacity: 0.5;
  }
}

.image-right {
  position: relative;
  left: 0;
  width: 100vw;
  height: 0em;

  img {
    right: 0;
    height: 20em;
    position: absolute;
    width: fit-content;
    bottom: -10em;
    max-height: 100vh;
    opacity: 0.5;
  }
}

label {
  display: block;
  font-size: 1.125em;
  font-weight: 700;
  opacity: 0.75;
  margin-bottom: 0.2em;

  @media screen and (max-width: $small-screen) {
    text-align: center;
  }
}
.sm-flex-reverse {
  @media screen and (max-width: $small-screen) {
    flex-direction: column-reverse;
  }
}

img {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-height: 50vh;
  object-fit: contain;
  @media screen and (max-width: 600px) {
    max-height: 20vh;
  }
}

.contact-form {
  width: 100%;

  input {
    box-sizing: border-box;
    width: 100%;
    position: relative;
  }
}

h1 {
  font-family: Futura PT, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

  font-size: 48px;
  font-weight: 800;
  margin: 0;
  max-width: 100%;

  @media screen and (max-width: $small-screen) {
    font-size: 30px;
  }
}

.background-cover {
  -o-background-size: cover;
  background-size: cover;
  width: 10vw;
  height: 10vw;
  position: absolute;
  overflow: visible;
}

h2 {
  font-family: Futura PT, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

  font-size: 36px;
  font-weight: 800;
  margin: 0;
  @media screen and (max-width: $small-screen) {
    text-align: center;
    font-size: 26px;
  }
}
h3 {
  font-size: 24px;
  margin: 0;
}

.primary {
  color: var(--primary-color);
}

.center {
  margin: auto;
}

.content {
  margin: auto;
  display: flex;
  width: 70vw;
  position: relative;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;

  max-width: 80rem;
  justify-content: space-between;
  overflow-y: visible;
  z-index: 2;

  @media screen and (max-width: $small-screen) {
    width: 90%;
    padding: 0;
    flex-wrap: wrap;
    padding-top: 4em;
  }
}

.half-screen {
  min-height: 70vh;
}

.screen-height {
  @media screen and (min-width: $small-screen) {
    min-height: 100vh;
  }
}
.sm-screen-height {
  @media screen and (max-width: $small-screen) {
    min-height: 80vh;
    display: flex;

    section {
      margin: auto;
      margin-bottom: 20%;
    }
  }
}

.card {
  border: solid rgb(238, 238, 238) 1px;
  border-radius: 1em;
}

.center-content {
  text-align: center;
  margin: auto;
  width: 50vw;
  min-height: 30vh;
  @media screen and (max-width: $small-screen) {
    width: 90%;
    flex-wrap: wrap;
  }
}

.absolute {
  position: absolute;
}

.top-image {
  width: 140vw;
  position: absolute;
  object-fit: cover;
  overflow: visible;
  max-height: none;
  left: -50vw;
  opacity: 0.2;
  @media screen and (max-width: $small-screen) {
    opacity: 0.6;
    width: 200vw;
    left: -70vw;
  }
}

.split-content {
  overflow: unset;
  margin-top: auto;
  width: 50%;
  margin-bottom: auto;
  padding: 0.5em;
  height: fit-content;
  align-content: flex-start;

  @media screen and (max-width: $small-screen) {
    width: 100%;
  }
  @media screen and (min-width: $small-screen) {
    flex: 0 0 auto;
  }
}

.panel {
  border: solid black 10px;
}

.space-right {
  margin-right: 1em;
}

section {
  width: 100%;
}

a {
  color: var(--text-color);
  text-decoration: none;

  &:hover {
    opacity: 0.75;
  }
}

.outline {
  border: solid var(--primary-color-0-5) 1px;
  border-radius: 10px;
}

p {
  font-size: 1em;
  line-height: 1.6;
}

.divider {
  background-color: #dddcdc;
  height: 1px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.no-break {
  white-space: nowrap;
}

.cols {
  display: flex;
  gap: 5em;
  justify-content: center;
  align-items: center;
  div {
  }
}

.super-title {
  font-size: 6em;
}

.mark {
  // border-bottom: solid 2px var(--primary-color);
}

.md-margin-top-10 {
  @media screen and (min-width: $small-screen) {
    margin-top: 15vh;
  }
}
