$minSize: 992px;
$backgroundColor: rgb(255, 255, 255);
$primaryColor: rgb(20, 20, 20);

$logoLengths: 42px, 20px, 26px, 36px, 35px, 26px, 21px, 35px, 33px, 26px, 42px,
  20px, 26px, 36px, 35px, 26px, 20px, 35px, 33px, 26px;

// 42.203758239746094, 19.944059371948242, 26.245819091796875, 36.14765167236328, 34.901580810546875, 26.245819091796875, 20.50201988220215, 35.180152893066406, 33.244049072265625, 26.245826721191406, 42.203758239746094, 19.944059371948242, 26.245819091796875, 36.14765167236328, 34.901580810546875, 26.245819091796875, 20.50201988220215, 35.180152893066406, 33.244049072265625, 26.245826721191406
$logoScale: 6;

h1,
h2,
h3,
h4,
h5 {
  color: $primaryColor !important;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: $backgroundColor;
}

.middle {
  margin: auto;
}

.white {
  background: white;
}

.container {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

.section {
  min-height: 30vh;
}

li {
  font-size: 20px;
}

.secondary {
  background-color: rgb(36, 36, 36);
  h1 {
    color: white !important;
  }
  h4 {
    color: rgb(216, 215, 215) !important;
  }
}
.fullscreen {
  height: 100vh;
}

.content {
  padding: 20px;
  padding-top: 0vh;
  margin: auto;
  width: 60vw;
  @media screen and (max-width: $minSize) {
    width: 80vw;
  }

  &.full {
    width: 100vw;
    @media screen and (max-width: $minSize) {
      width: 80vw;
    }
  }
}

#logo {
  transform: scale($logoScale);
  height: 100px;

  @for $i from 1 through 20 {
    path:nth-child(#{$i}) {
      fill: transparent;
      stroke-dasharray: nth($logoLengths, $i) * $logoScale;
      stroke-dashoffset: nth($logoLengths, $i) * $logoScale;
      animation: line-anim 4s ease forwards ($i * 0.2s),
        fill 1s ease forwards length($logoLengths) * 0.1s + 0.8s;
    }
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: black;
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
