.fullpage-container {
  // scroll-snap-type: y mandatory;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;

  @media only screen and (max-width: 600px) {
    scroll-snap-type: none;
  }
}

.fullpage {
  min-height: 50vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  position: relative;
  display: flex;
  padding-bottom: 10vh;
  margin-top: 10vh;

  @media only screen and (max-width: 600px) {
    min-height: 40vh;
    margin-bottom: 0vh;
    margin-top: 0vh;
    scroll-snap-align: none;
    scroll-snap-stop: none;
  }
}

.scroll-snap {
  scroll-snap-align: start;
  position: relative;
}

.content {
  width: 100vw;
  max-width: 60rem;
  @media only screen and (max-width: 600px) {
    padding: 5vh;
  }
}

.dark {
  background-color: #231f20;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
}

@keyframes slideInFromLeft {
  100% {
    transform: translate(-100%, -50%);
  }
  0% {
    transform: translate(0, -50%);
  }
}

.warning-label-container {
  margin-bottom: 1vh;
}

.warning-label {
  background-color: yellow;
  display: inline-block;
  padding: 10px;
  animation: 120s linear 0s 1 slideInFromLeft;
  animation-iteration-count: infinite;
  font-weight: 800;
  white-space: nowrap;
}

.warning-center {
  transform: rotate(4deg);
}
