.card {
  height: 300px;
  width: 300px;
  object-fit: cover;
  display: inline-block;
  transition: transform 0.4s ease-in-out;
}
.card:hover {
  transform: scale(1.1);
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
}
.background {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(229, 229, 229, 1);
  border-radius: 20px;
  .image {
    object-fit: cover;
    border-radius: 20px;
  }
}

.content {
  padding: 0px 10px;
  border-radius: 20px;
  cursor: pointer;
  height: 100%;
  width: calc(100% - 20px);
  position: absolute;
  background-color: transparent;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: pre-line;
  transition: background-color ease-in-out 0.4s;
  opacity: 1;

  .date {
    top: 0px;
    width: 100%;
    color: #333;
    font-size: 1.5rem;
  }
  div {
    height: auto;
    max-height: calc(100% - 80px);
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: calc(100% - 20px);
    top: 40px;
    bottom: 40px;

    h2 {
      overflow: hidden;
      font-size: 1.2rem;
      max-height: 100%;
      max-width: 100%;
      height: auto;
      line-height: 1.618em;
      transition: opacity ease-in-out 0.4s;
      overflow-wrap: break-word;
      opacity: 1;
      color: var(--text-color);
      opacity: 0.8;
    }
  }
}

.content:hover {
  background-color: #0f559bd9;
}
