$icon-width-mobile: 5ch;
$icon-width-desktop: 6ch;

.big-list-item {
  display: grid;
  grid-template-areas:
    "a b"
    "d d";
  grid-template-columns: $icon-width-mobile 1fr;
  grid-template-rows: repeat(auto-fit, minmax($icon-width-mobile, 1fr));
  align-items: center;
  gap: 1rem;
  padding-bottom: 4rem;
}

.icon {
  grid-area: a;
  max-width: 210%;
}

.title {
  grid-area: b;
  padding-left: 2rem;
}

.index {
  grid-area: c;
}

.description {
  grid-area: d;
}

@media screen and (min-width: 768px) {
  .big-list-item {
    grid-template-areas: "a b c d";
    grid-template-columns: $icon-width-desktop 1fr 3ch 1fr;
  }
  .icon {
    grid-area: a;
    max-width: 200%;
  }

  .title {
    grid-area: b;
    padding-left: 4rem;
  }

  .index {
    grid-area: c;
  }

  .description {
    grid-area: d;
  }
}
