$small-screen: 720px;
$mid-screen: 920px;

.aboutus-content {
  overflow: unset;
  margin-top: auto;
  width: 70%;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  height: fit-content;

  align-content: flex-start;

  @media screen and (max-width: $mid-screen) {
    width: 100%;
  }

  @media screen and (min-width: $mid-screen) {
    flex: 0 0 auto;
  }

  @media screen and (max-width: $small-screen) {
    label {
      text-align: center;
    }
  }
}
