$small-screen: 720px;

.topbar {
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 3vw;
  padding-right: 5vw;
  // background-color: rgb(4, 1, 26);
  z-index: 1000;

  * {
    color: white;
  }
  .brand {
    font-size: 1.125em;
  }

  nav {
    align-items: center;
    padding: 1em;
  }

  .button-spacing {
    margin-right: 1em;
    @media screen and (max-width: $small-screen) {
      margin-right: 0.5em;
    }
  }

  @media screen and (max-width: $small-screen) {
    padding-left: 2.5vw;
    padding-right: 2.5vw;
  }
}

.expandedHambuger {
  svg {
    * {
      transition: all 0.5s;
    }

    :nth-child(1) {
      transform: translate(10%, 10%) rotate(45deg);
    }

    :nth-child(2) {
      transform: translate(-30%, 50%) rotate(-45deg);
    }

    :nth-child(3) {
      opacity: 0;
    }
  }
}

.notExpandedHambuger {
  svg {
    * {
      transition: all 0.5s;
    }
  }
}
