.footerContent {
  background: #292929;
  padding-top: 20%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
}

.footer {
  display: flex;
  justify-content: space-between;
  place-items: center;
  background: #292929;
  position: relative;
  padding-top: 2%;

  p {
    font-size: 0.7em;
  }

  padding-left: 10%;
  padding-right: 10%;

  div:nth-child(1) {
    text-align: left;
  }

  div:nth-child(2) {
    text-align: right;
  }
}
