$width: auto;
$height: auto;
$padding: 10vw;

.children {
  width: fit-content;
  display: flex;
  white-space: nowrap;
  gap: 2em;
  margin: 0px auto;
  padding: 0px $padding;
}

.arrows {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;

  button {
    background-color: transparent;
    border: 1px solid rgb(0 0 0 / 0.25);
    padding: 0;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    font-weight: 700;
    font-family: inherit;
    font-size: 2em;

    &:hover {
      color: rgb(0 0 0 / 0.75);
    }
  }
}

.carousel {
  width: 90%;
  display: flex;
  height: $height;
  position: relative;
  margin: auto;
}

.container {
  flex: 1;
  margin: auto;
  height: auto;
  overflow-x: visible;
  overflow-y: hidden;
  padding-bottom: 50px;
  border-radius: 20px;
  // z-index: 1;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) rgb(0 0 0 / 0.1);
  position: relative;
  // background-image: linear-gradient(
  //   to right,
  //   red 0%,
  //   rgba(0, 0, 0, 0) 20%,
  //   rgba(0, 0, 0, 0) 80%,
  //   red 100%
  // );
}

.carousel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 1rem);
  width: $padding;
  z-index: 1;
  pointer-events: none;
  background: linear-gradient(
    to right,
    white 0%,
    white 10%,
    transparent
  );;
}

.carousel::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100% - 1rem);
  width: $padding;
  z-index: 1;
  pointer-events: none;
  background: linear-gradient(
    to left,
    white 0%,
    white 10%,
    transparent
  );;
}


.filler_right {
  width: 100px;
  height: 200px;
  background: linear-gradient(to right, rgba(0, 0%, 0%, 0), white);
}
.filler_left {
  width: 100px;
  height: 200px;
  background: linear-gradient(to left, rgba(0, 0%, 0%, 0), white);
}

.wrapper {
  width: 100%;
  height: $height;
  position: relative;
  // margin: 4em auto;

  ::-webkit-scrollbar {
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: rgba(229, 229, 229, 1);
    border-radius: 20px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(39, 86, 156);
    border-radius: 20px;
  }
}
