$width: auto;
$height: auto;

.child {
  width: $width;
  height: $height;
  float: right;

  display: inline-table;
}

.children {
  display: flex;
  gap: 2em;
}

.arrows {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;

  button {
    background-color: transparent;
    border: 1px solid rgb(0 0 0 / 0.25);
    padding: 0;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    font-weight: 700;
    font-family: inherit;
    font-size: 2em;

    &:hover {
      color: rgb(0 0 0 / 0.75);
    }
  }
}

.carousel {
  width: $width;
  height: $height;
  overflow: hidden;
  position: relative;
}

.wrapper {
  width: $width;
  height: $height;
  position: relative;
  margin: 4em auto;
}
