.bookMeeting_button {
  background-color: #eee;
  color: #000;
  margin: 10px 0;
  padding: 0.6em 1.1em;
  border-radius: 1.5rem;
  transition: all 50ms ease;
  /* Add more styles as needed */
}

.bookMeeting_button:hover{
  transform: scale(1.05);
}