$bg-color: rgb(4, 1, 26);
$dot-color: rgb(110, 110, 110);

// Dimensions
$dot-size: 1px;
$dot-space: 25px;

.section {
  position: relative;

  &.dark {
    color: rgb(226, 223, 223);

    background: linear-gradient(
          90deg,
          $bg-color ($dot-space - $dot-size),
          transparent 1%
        )
        center,
      linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
      $dot-color;
    background-size: $dot-space $dot-space;
  }

  &.light {
    .content {
      background-color: white;
    }
  }

  .bottomImage {
    display: flex;
    width: 100%;

    align-items: center;
    object-fit: contain;
    div {
      margin: auto;
      img {
      }
    }
  }

  svg {
    width: 100%;
    max-height: none;
  }

  .content {
    margin: auto;
    max-width: 120em;

    &.left {
      margin-left: 50%;
    }

    &.right {
      margin-right: 50%;
    }
    &.center {
      margin: auto;
      width: 60%;
      text-align: center;
      padding-top: 10em;
      padding-bottom: 10em;

      @media screen and (max-width: 750px) {
        width: 80%;
      }
    }
    &.full {
      width: 100%;
      margin: auto;

      max-width: 100em;
    }
  }

  display: flex;
  position: relative;

  // align-items: center;

  // clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);

  // @media screen and (max-width: 750px) {
  //   clip-path: polygon(0 2%, 100% 0, 100% 98%, 0% 100%);
  // }

  width: 100vw;
}
