$bg-color: rgb(4, 1, 26);
$dot-color: rgb(110, 110, 110);

// Dimensions
$dot-size: 1px;
$dot-space: 25px;

.section {
  background-color: white;

  &.dark {
    color: rgb(226, 223, 223);

    background: linear-gradient(
          90deg,
          $bg-color ($dot-space - $dot-size),
          transparent 1%
        )
        center,
      linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
      $dot-color;
    background-size: $dot-space $dot-space;
  }

  .backgroundImage {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(-5px, 10px);
    width: 50%;

    @media screen and (max-width: 750px) {
      width: 100%;
    }

    &.full {
      width: 100%;
      svg {
        width: 100%;
        max-height: none;
      }
    }
  }

  svg {
    width: 100%;
    max-height: none;
  }

  .content {
    margin: auto;

    &.left {
      margin-left: 50%;
    }
    &.right {
      margin-right: 50%;
    }
    &.center {
      margin: auto;
      width: 60%;
      padding: 0;
      text-align: center;

      @media screen and (max-width: 750px) {
        width: 100%;
      }
    }
    &.full {
      width: 100%;
      margin: auto;

      max-width: 100em;
    }
  }

  display: flex;
  position: relative;
  // align-items: center;

  // clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
  transform: translate(0%, -5%);

  // @media screen and (max-width: 750px) {
  //   clip-path: polygon(0 2%, 100% 0, 100% 98%, 0% 100%);
  // }

  width: 100vw;
}
