.circle {
  display: inline-block;
  appearance: none;
  font-size: calc(100% - 0.4em);

  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  transform: translateY(-0.2em);
}

.primaryColor {
  --color: #c3eec3;
  color: var(--color);
  border: 0.05em solid var(--color);
}

.filled {
  --color: #c3eec3;
  color: var(--color);
  color: black;
  background-color: var(--color);
}

.secondaryColor {
  --color: #6024ff;
  color: var(--color);
  border: 0.05em solid var(--color);
}

.border {
  border-radius: 0.9375em;
}

@media screen and (min-width: 768px) {
  .circle {
    vertical-align: bottom;
  }
}
