.button {
  appearance: none;
  background-color: transparent;
  border: 0.125em solid #c3eec3;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #c3eec3;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 20px;
  font-weight: 500;
  line-height: normall;
  margin: 0px;
  min-height: 0.75em;
  min-width: 0;
  outline: none;
  padding: 0.4em 1.3em;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  transform: translateY(-10px);

 }
 
.button:disabled {
  pointer-events: none;
 }
 
.button:hover {
  color: #c3eec3;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
 }
 
.button:active {
  box-shadow: none;
 }

 @media screen and (max-width: 900px) {
  .button {
    appearance: none;
    background-color: transparent;
    border: 0.10em solid #c3eec3;
    box-sizing: border-box;
    color: #c3eec3;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    margin: 0px;
    min-height: 0.10em;
    min-width: 0;
    outline: none;
    padding: 0% 2%;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    transform: translateY(-5px);
  
   }
   
  .button:disabled {
    pointer-events: none;
   }
   
  .button:hover {
    color: #c3eec3;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
   }
   
  .button:active {
    box-shadow: none;
   }
  }