@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "KHTeka";
  src: url(../public/fonts/KH-Teka/WOFF/KHTeka-Regular.woff);
  font-display: fallback;
}

@font-face {
  font-family: "KHTeka-Light";
  src: url(../public/fonts/KH-Teka-Light/OTF/KHTeka-Light.otf);
  font-display: fallback;
}

p,
label,
a,
* {
  font-family: "KHTeka-Light", Futura PT, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;
}

.bold {
  font-family: "KHTeka", Futura PT, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;
  // line-height: 1.2 !important;
  font-weight: 600;
}

@keyframes cloud-animation {
  0% {
    // transform: translateY(0px);
    transform: rotateZ(3600deg);
  }

  50% {
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes slow-spin {
  0% {
    // transform: translateY(0px);
    rotate: 0deg;
  }

  50% {
  }

  100% {
    rotate: 360deg;
  }
}

.slow-spin {
  animation: slow-spin 60s linear infinite;
  transform-origin: center;
}

.cloud-animation {
  // animation: cloud-animation 1s ease-in-out forwards;
}

@keyframes blue-1 {
  0% {
    opacity: 0;
    // transform: translateY(0px);
    transform: translate(6%, -20%);
  }

  20% {
    opacity: 100%;
  }
  50% {
    transform: translate(6%, 23%);
  }

  90% {
    transform: translate(40%, 23%);
  }

  100% {
    transform: translate(40%, 30%);
  }
}

@keyframes blue-2 {
  0% {
    // transform: translateY(0px);
    opacity: 0;
    transform: translate(6%, -20%);
  }

  20% {
    opacity: 100%;
  }

  100% {
    transform: translate(6%, 40%);
  }
}

@keyframes red-1 {
  0% {
    opacity: 0;
    // transform: translateY(0px);
    transform: translate(4%, -20%);
  }
  20% {
    opacity: 100%;
  }

  50% {
    transform: translate(4%, 15%);
  }

  90% {
    transform: translate(30%, 15%);
  }

  100% {
    transform: translate(30%, 25%);
  }
}

@keyframes green-1 {
  0% {
    opacity: 0;
    // transform: translateY(0px);
    transform: translate(-4%, -20%);
  }
  20% {
    opacity: 100%;
  }

  50% {
    transform: translate(-4%, 20%);
  }

  90% {
    transform: translate(30%, 20%);
  }

  100% {
    transform: translate(30%, 25%);
  }
}

@keyframes box {
  0% {
    scale: 10%;
    // transform: translateY(0px);
    transform: translate(0%, 20%);
  }

  30% {
    opacity: 1;
  }
  60% {
    scale: 100%;
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translate(0%, 50%);
  }
}

#unstructured_animation {
  // #blue-1 {
  //   animation: blue-1 4s linear infinite;
  // }

  // #blue-2 {
  //   animation: blue-2 4s linear infinite;
  // }

  // #red-1 {
  //   animation: red-1 6s linear infinite;
  // }

  // #green-1 {
  //   animation: green-1 8s linear infinite;
  // }

  #box {
    transform-origin: center;
    animation: box 2s linear infinite;
  }
}
